
.welcome-page {
    background-color: var(--cor-primaria-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 48px 28px 40px;
}